@import url('../leaflet/dist/leaflet.css');
@import '../../../node_modules/hazdev-tablist/src/tablist/TabList.scss';
@import 'ModalView.scss';
@import 'ResultFormatter.scss';

#application {
	position:relative;
	width:100%;
	min-height:400px;
	height:100%;

	> .global-map-view {
		position:absolute;
		z-index:10;
		top:38px; right:0; bottom:0; left:0;
		margin:0;
		padding:0;
		border-color:#333;
		border-width:1px;
		border-style:none solid solid solid;
	}

	> .global-coordinate-view {
		position:absolute;
		top:0; right:0; left:0;
		z-index:20;
		height:38px;
		background-color:#DDD;
		margin:0 auto;
		padding:8px;
		border-color:#333;
		border-width:1px;
		border-style:solid solid none solid;

		> label {
			margin-right:8px;
		}

		> input {
			width:50px;
			margin-right:8px;
		}
	}
}

@media (min-height: 700px) {
	#application {
		min-height:500px;
	}
}
@media (min-height: 900px) {
	#application {
		min-height:700px;
	}
}