#application {
	.leaflet-popup-content {
		max-height:255px;
		max-width:300px;
		overflow-y:auto;
	}

	.global-results {

		> nav > .tablist-tab {
			max-width: none;
			padding:0;

			&.selected {
				box-shadow:none;
			}

			> span {
				display:block;
				padding:10px 15px;
				background-image:linear-gradient(
					to bottom,
					rgba(255, 255, 255, 0),
					rgba(255, 255, 255, 1.0) 50%
				);

				&.quality-red {
					background-color:#D33;
				}
				&.quality-yellow {
					background-color:#FD3;
				}
				&.quality-green {
					background-color:#3C3;
				}
			}
		}

		> .tablist-panel {
			max-width:300px;
			margin-bottom:16px;

			> h3 {
				margin:0;
			}

			> .coordinates {
				font-size:.9em;
				color:#666;
				font-style:italic;
			}

			> .ground_motion {
				margin:8px 0;

				> dt {
					display:block;
					font-weight:bold;
					color:333;
					margin-right:8px;

					&:after {
						content:':';
					}
				}

				> dd {
					display:block;
					margin:0 0 0 1em;
					&.ss, &.s1 {margin-right:16px;}
					&.quality {display: inline-block;}
				}
			}
		}

		.quality {
			padding:1px 3px;
			border-width:1px;
			border-style:solid;
			border-color:transparent;

			&.quality-red {
				background-color:#F99;
				border-color:#C33;
			}
			&.quality-yellow {
				background-color:#FF9;
				border-color:#CC3;
			}
			&.quality-green {
				background-color:#9F9;
				border-color:#3C3;
			}
		}

		table {
			> thead th {
				font-weight:bold;
			}
			> tbody th {
				color: #666;
			}
			td, th {
				padding: 0 8px;
			}
		}

		.description {
			font-size:.9em;
			color:#666;
			padding:0;
			margin:0;
			line-height:1.25;
			white-space:normal;
		}
	}
}

@media (min-width: 768px) {
	#application {
		.leaflet-popup-content {
		 	max-width: none;
		}

		.global-results {
			> nav {
				white-space:nowrap;
			}

			> .tablist-panel {
				max-width:none;
				max-height:185px;
				overflow-y:auto;

				> .ground_motion {
					> dt {
						display: inline-block;
					}

					> dd {
						display: inline-block;
						margin: 0;
					}
				}
			}
		}

		.quality {
			text-align:center;
		}
	}
}
